.root {
  position: relative;
  margin: 30px 0;
  padding-left: 40px;
  line-height: 200%;
}

.root:before {
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2998ff;
  content: '';
}

.root:after {
  position: absolute;
  top: 27px;
  left: 8px;
  width: 4px;
  height: calc(100% - 24px);
  background: #2998ff;
  content: '';
}

@media print {
  .root {
    padding-left: 30px;
    border-left: 2px #888 solid;
  }
}

.root p {
  margin: 10px 0;
}

.p {
  margin: 20px 0;
}

.logo {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 700px) {
  .root {
    padding-left: 0;
    line-height: 140%;
    font-size: 16px;
  }

  .root:before {
    display: none;
  }

  .root:after {
    top: 0;
    left: -20px;
    height: 100%;
  }
}
