.langingPage {
  padding: 10vh 10vw 0 10vw;
  background: linear-gradient(
    to right,
    var(--left-gradient),
    var(--right-gradient)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

.title1 {
  font-size: 8vw;
  margin-bottom: 4vh;
  font-weight: 500;
  line-height: 112%;
}

.title2 {
  font-size: 4vw;
  margin-bottom: 10px;
  line-height: 140%;
}
