.root {
  cursor: pointer;
}

.primary {
  padding: 13px 40px;
  background-color: #3c8b46;
  color: #fff;
  border-radius: 30px;
  font-weight: bold;
}

.primary:hover {
  box-shadow: 0 7px 20px -3px rgba(0, 0, 0, 0.5);
}

.block {
  display: block;
}

.centered {
  display: block;
  width: max-content;
  margin: 0 auto;
}
