.align-center {
  text-align: center;
}

.align-right {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-32 {
  font-size: 32px;
}

.size-46 {
  font-size: 46px;
}

.size-48 {
  font-size: 48px;
}

.size-76 {
  font-size: 76px;
}
