:root {
  --left-gradient: #53acff;
  --right-gradient: #ff537b;

  --border-color: #b3b3b3;
  --border-radius-0: 0px;
  --border-radius-5: 5px;
  --border-radius-10: 10px;
  --border-radius-15: 15px;

  --light-shadow: 0 4px 20px 0 rgba(8, 13, 74, 0.2);

  --white: #fff;

  --main: #543b93;
  --main-hover: #665399;

  --text: #131313;
  --gray-text: #262626;
}
